.app {
  padding-top: 30rpx;
  .block{
    margin-bottom: 30rpx;
    .title{
      height: 88rpx;
      line-height: 86rpx;
      color: #FDFFFD;
      font-size: 32rpx;
      font-weight: 500;
      padding-left: 24rpx;
    }
  }
  .grid{
    box-sizing: border-box;
    padding-left: 10rpx;
    display: grid;
    grid-template-columns: repeat(auto-fill, calc(33.3333% - 10rpx));
    grid-template-rows: 200rpx;
    grid-auto-rows: 200rpx;
    row-gap: 10rpx;
    column-gap: 10rpx;
    .item{
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 10rpx;
      background-color: #FDFFFD;
      overflow: hidden;
      .name{
        font-size: 24rpx;
        margin-top: 14rpx;
        color: #000;
      }
    }
  }
  
}
