.app {
  padding: 30rpx;
  .navBlock{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 24rpx;
    margin-bottom: 24rpx;
    height: 88rpx;
    border-radius: 12rpx;
    color: #000;
    background-color: #FDFFFD;
  }
  .name{
    font-size: 64rpx;
    font-weight: 500;
    color: #FDFFFD;
  }
  .title{
    margin: 30px 0;
    color: #FDFFFD;
  }
}
