.app {
  padding: 30rpx 0;
  .extra{
    color: #1890FF;
  }
  .group{
    margin-bottom: 30rpx;
    .title{
      height: 88rpx;
      line-height: 86rpx;
      color: #FDFFFD;
      font-size: 32rpx;
      font-weight: 500;
      padding-left: 24rpx;
    }
    .content{
      background-color: #FDFFFD;
    }
  }
}
