.app {
  padding: 30rpx 0;
  .subTitle{
    color: #EEE;
    font-size: 28rpx;
    padding-left: 24rpx;
    padding-bottom: 20rpx;
  }
  .container{
    padding: 20rpx 24rpx;
    background-color: #FDFFFD;
  }
}
