@import '../style/theme.scss';

.block{
  margin-bottom: 30rpx;
  .title{
    height: 88rpx;
    line-height: 86rpx;
    color: #FDFFFD;
    font-size: 32rpx;
    font-weight: 500;
    padding-left: 24rpx;
  }
  .content{
    
  }
}